<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangchenle.electricityconsumptionsystem.dao.CopyRecordDao">
    <resultMap id="CopyRecord" type="com.yangchenle.electricityconsumptionsystem.entity.ElectricEntity">
        <result column="CopyId" property="copyId"/>
        <result column="ReaderId" property="readerId"/>
        <result column="ElectricId" property="electricId"/>
        <result column="CopyData" property="copyData"/>
        <result column="AddTime" property="addTime"/>
        <result column="UpdateTime" property="updateTime"/>
    </resultMap>

    <sql id="allFile">
        CopyId,
        ReaderId,
        ElectricId,
        CopyData,
        AddTime,
        UpdateTime
    </sql>

    <insert id="addCopyRecord" parameterType="com.yangchenle.electricityconsumptionsystem.entity.ReaderAccountEntity">
        INSERT INTO
        copy_record(CopyId, ElectricId, CopyData, AddTime, UpdateTime)
        VALUES
        (
        #{dada.copyId},
        #{data.electricId},
        #{data.copyData},
        NOW(),
        NOW()
        )
    </insert>

    <update id="updateCopyRecord" parameterType="map">
        UPDATE copy_record
        SET
        CopyData = #{data},
        UpdateTime=now()
        WHERE CopyId = #{id}
    </update>

    <select id="selectCopyRecordById" parameterType="int" resultMap="CopyRecord">
        select
        <include refid="allFile"/>
        from copy_record
        where id=#{id}
    </select>
</mapper>