<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangchenle.electricityconsumptionsystem.dao.CopyRecordDao">
    <resultMap id="CopyRecord" type="com.yangchenle.electricityconsumptionsystem.entity.CopyRecordEntity">
        <result column="CopyId" property="copyId"/>
        <result column="ReaderId" property="readerId"/>
        <result column="ElectricId" property="electricId"/>
        <result column="CopyData" property="copyData"/>
        <result column="AddTime" property="addTime"/>
        <result column="UpdateTime" property="updateTime"/>
    </resultMap>

    <sql id="allFile">
        CopyId,
        ReaderId,
        ElectricId,
        CopyData,
        AddTime,
        UpdateTime
    </sql>

    <sql id="allFileTwo">
        CopyId,
        ReaderId,
        a.ElectricId ElectricId,
        CopyData,
        AddTime,
        UpdateTime
    </sql>
    <insert id="addCopyRecord" parameterType="com.yangchenle.electricityconsumptionsystem.entity.ReaderAccountEntity">
        INSERT INTO
        copy_record(ReaderId,ElectricId, CopyData, AddTime, UpdateTime)
        VALUES
        (
        #{data.readerId},
        #{data.electricId},
        #{data.copyData},
        NOW(),
        NOW()
        )
    </insert>

    <update id="updateCopyRecord" parameterType="map">
        UPDATE copy_record
        SET
        CopyData = #{data},
        UpdateTime=now()
        WHERE CopyId = #{id}
    </update>

    <select id="selectCopyRecordById" parameterType="int" resultMap="CopyRecord">
        select
        <include refid="allFile"/>
        from copy_record
        where CopyId = #{id}
    </select>

    <select id="queryAll" parameterType="map" resultMap="CopyRecord">
        SELECT
        <include refid="allFile"/>
        FROM copy_record
        WHERE
    </select>

    <select id="selectNewRecord" resultMap="CopyRecord">
        select
        <include refid="allFileTwo"/>
        from copy_record a,(SELECT MAX(ADDTIME) time,ElectricId
        FROM copy_record
        GROUP by ElectricId) b
        where a.AddTime=b.time and a.ElectricId=b.ElectricId
    </select>
</mapper>