<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangchenle.electricityconsumptionsystem.dao.ElectricDao">
    <resultMap id="Electric" type="com.yangchenle.electricityconsumptionsystem.entity.ElectricEntity">
        <result column="ElectricId" property="electricId"/>
        <result column="ElectricNum" property="num"/>
        <result column="Type" property="type"/>
        <result column="LastData" property="lastData"/>
        <result column="UserId" property="userId"/>
        <result column="Money" property="money"/>
        <result column="state" property="state"/>
        <result column="AddTime" property="addTime"/>
        <result column="UpdateTime" property="updateTime"/>
    </resultMap>
    <sql id="allFile">
       ElectricId,
       ElectricNum,
       Type,
       LastData,
       UserId,
       Money,
       state,
       AddTime,
       UpdateTime
    </sql>

    <select id="queryEleByUserId" parameterType="map" resultMap="Electric">
        SELECT
        <include refid="allFile"/>
        FROM electric
        WHERE
        UserId = #{userId }
    </select>

    <insert id="addElectric" parameterType="com.yangchenle.electricityconsumptionsystem.entity.ElectricEntity">
        insert into electric
        (ElectricNum,Type,LastData,Money,state,AddTime,UpdateTime) values
        (#{data.num},#{data.type},#{data.lastData},#{data.money},#{data.state},now(),now())
    </insert>

    <update id="updateElectric" parameterType="map">
        update electric
        set
        <if test="data!=null">
            LastData=#{data},
        </if>
        <if test="money!=null">
            Money=#{money},
        </if>
        <if test="state!=null">
            state=#{state},
        </if>
        UpdateTime=now()
        where ElectricId=#{id}
    </update>

    <delete id="deleteElectricById" parameterType="int">
        delete
        from electric
        where ElectricId =#{id}
    </delete>

    <select id="selectElectricById" parameterType="int" resultMap="Electric">
        select
        <include refid="allFile"/>
        from electric
        where ElectricId=#{id}
    </select>
</mapper>