<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangchenle.electricityconsumptionsystem.dao.PaymentRecordDao">
    <resultMap id="PaymentRecord" type="com.yangchenle.electricityconsumptionsystem.entity.PaymentRecordEntity">
        <result column="PaymentId" property="paymentId"/>
        <result column="ElectricId" property="electricId"/>
        <result column="PaymentMethod" property="paymentMethod"/>
        <result column="Money" property="money"/>
        <result column="PaymentState" property="paymentState"/>
        <result column="AddTime" property="addTime"/>
        <result column="UpdateTime" property="updateTime"/>
    </resultMap>

    <sql id="allFile">
        PaymentId,
        ElectricId,
        PaymentMethod,
        Money,
        PaymentState,
        AddTime,
        UpdateTime
    </sql>

</mapper>