<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangchenle.electricityconsumptionsystem.dao.ReaderTableDao">
    <resultMap id="ReaderTable" type="com.yangchenle.electricityconsumptionsystem.entity.ReaderAccountEntity">
        <result column="ReaderId" property="readerId"/>
        <result column="ReaderName" property="readerName"/>
        <result column="ReaderPhone" property="readerPhone"/>
        <result column="AddTime" property="addTime"/>
        <result column="UpdateTime" property="updateTime"/>
    </resultMap>

    <sql id="allFile">
        ReaderId,
        ReaderName,
        ReaderPhone,
        AddTime,
        UpdateTime
    </sql>

    <select id="ReaderLogin" parameterType="map" resultMap="ReaderTable">
        SELECT
        <include refid="allFile"/>
        FROM reader_account
        WHERE ReaderPhone = #{readerPhone}
    </select>

    <insert id="insertReader" parameterType="map" useGeneratedKeys="true" keyProperty="readerInfo.readerId">
        INSERT INTO
        reader_account(ReaderName, ReaderPhone, AddTime, UpdateTime)
        VALUES (
        #{readerInfo.readerName },
        #{readerInfo.readerPhone },
        NOW(),
        NOW()
        )
    </insert>

    <select id="queryById" parameterType="map" resultMap="ReaderTable">
        SELECT
        <include refid="allFile"/>
        FROM reader_account
        WHERE ReaderId = #{readerId }
    </select>

    <update id="updateReaderInfo">
        UPDATE reader_account
        SET
        ReaderName = #{readerName},
        UpdateTime = NOW()
        WHERE ReaderId = #{readerId}
    </update>

    <select id="selectReaderAll" resultMap="ReaderTable">
        SELECT
        <include refid="allFile"/>
        FROM reader_account
    </select>

    <delete id="deleteById" parameterType="int">
        delete
        FROM reader_account
        WHERE ReaderId = #{id}
    </delete>
</mapper>