<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangchenle.electricityconsumptionsystem.dao.UserDao">
    <resultMap id="User" type="com.yangchenle.electricityconsumptionsystem.entity.UserEntity">
        <result column="UserId" property="userId"/>
        <result column="UserName" property="userName"/>
        <result column="UserPhone" property="userPhone"/>
        <result column="UserAccount" property="userAccount"/>
        <result column="UserAddress" property="userAddress"/>
        <result column="IdCard" property="idCard"/>
        <result column="AddTime" property="addTime"/>
        <result column="UpdateTime" property="updateTime"/>
        <result column="Price" property="price"/>
    </resultMap>

    <sql id="allFile">
        UserId,
        UserName,
        UserPhone,
        UserAccount,
        UserAddress,
        IdCard,
        AddTime,
        UpdateTime,
        Price
    </sql>

    <select id="userLogin" parameterType="map" resultMap="User">
        SELECT
        <include refid="allFile"/>
        FROM user_account
        WHERE
        UserPhone = #{userPhone}
    </select>

    <insert id="insertUser" parameterType="map" useGeneratedKeys="true" keyProperty="userInfo.userId">
        INSERT INTO
        user_account(UserId, UserName, UserPhone, UserAccount, UserAddress, AddTime, UpdateTime, IdCard, price)
        VALUES (
        #{userInfo.userId },
        #{userInfo.userName },
        #{userInfo.userPhone },
        #{userInfo.userAccount },
        #{userInfo.userAddress },
        NOW(),
        NOW(),
        #{userInfo.idCard },
        #{userInfo.price }
        )
    </insert>

    <select id="queryById" parameterType="map" resultMap="User">
        SELECT
        <include refid="allFile"/>
        FROM
        user_account
        WHERE UserId = #{userId }
    </select>

    <update id="updateUserInfo">
        UPDATE user_account
        <set>
            <if test="userName != null and userName != ''">
                UserName = #{userName },
            </if>
            <if test="userAccount != null and userAccount != ''">
                userAccount = #{userAccount },
            </if>
            <if test="userAddress != null and userAddress != ''">
                UserAddress = #{userAddress},
            </if>
            UpdateTime = NOW()
        </set>
        WHERE UserId = #{userId}
    </update>

    <update id="payById">
        UPDATE user_account
        SET
        Price = #{money },
        UpdateTime = NOW()
        WHERE UserId = #{userId}
    </update>
</mapper>